<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Menu</h1>

    <h1>Welcome, <span th:text = "${username}"></span></h1>
    <a href = "/main?logout">Log out</a>
    <nav>
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a> </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions">Transactions</a></li>
            <li class="nav-item">
                <a class="nav-link"href="/balance">Balance</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/history">History</a></li>
        </ul>
    </nav>

</body>
</html>