<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>something</h1>

    <h1>Welcome, <span th:text = "${username}"></span></h1>
    <a href = "/main?logout"> Log out</a>
    <nav id = "menu">
        <ul>
            <li><a href="/home">Home</a> </li>
            <li><a href="/transactions">Transactions</a></li>
            <li><a href="/balance">Balance</a></li>
            <li><a href="/history">History</a></li>
        </ul>
    </nav>

</body>
</html>