<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login</title>
</head>

<body>

<div class="login-wrapper">

    <img
            class="login-character"
            src="/images/konata-login.png"
            alt="Sleeping Konata zzz">

    <div class="login-container">

        <h1>Login</h1>

        <form
                class="form"
                th:action="@{/login}"
                th:object="${userLoginRequest}"
                th:method="post">

            <div>
                <label for="username">Username</label>

                <input
                        id="username"
                        type="text"
                        th:field="*{username}"
                        required>

                <p
                        class="error"
                        th:if="${#fields.hasErrors('username')}"
                        th:errors="*{username}">
                </p>
            </div>


            <div>
                <label for="password">Password</label>

                <input
                        id="password"
                        type="password"
                        th:field="*{password}"
                        required>

                <p
                        class="error"
                        th:if="${#fields.hasErrors('password')}"
                        th:errors="*{password}">
                </p>
            </div>


            <button type="submit">
                Log in
            </button>


            <p class="form-already">
                Don't have an account?
                <a href="/register">Register now!</a>
            </p>

        </form>

    </div>

</div>

</body>
</html>